.group-websites {
  min-height: 60rem;
  padding: 5rem 0 10rem;
  background-image: url("https://www.adani.com/-/media/Project/Adani/Background-Images/bg-business.png?la=en&hash=E36B31B8DA7E830CDD8C824B23645C76");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
