/* Services.css */

.services {
    background-image: url('./images/bg-services.webp');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.services {
    padding: 30px;
}

.text-container {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1rem solid chartreuse;
}

.title {
    display: block;
    font-size: 1.5rem;
}

.description {
    display: block;
    font-size: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    grid-gap: 30px;
    /* margin-left: 5%;
    margin-right: 5%; */
    justify-content: space-evenly;
    padding: 30px;
}